MONGODB_URI=mongodb+srv://aksharpatel528:2iTFUmFG20qUl9dD@cluster0.hsrg1sy.mongodb.net/Vipbachchu_DB

{"_id":{"$oid":"667593fec7bb0a3f86c8c250"},"Tag":"Electronics","CategoryID":"12345","Name":"Smartphone XYZ","ImageURL":"http://example.com/images/smartphone_xyz.jpg","SalePrice":{"$numberDouble":"299.99"},"RegularPrice":{"$numberDouble":"399.99"},"% off":{"$numberInt":"25"},"details":"A high-end smartphone with excellent features.","affiliateURL":"http://example.com/product/smartphone_xyz","storeName":"TechStore","highlight ":"this is me"}